@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #000;
  -webkit-tap-highlight-color: #fff;
}
::-moz-selection { 
  color: #fff;
  background: #000;
}
::selection {
  color: #fff;
  background: #000;
  border: none;
}
.wt-yt-container {
  width: 100vw;
}
@media (max-width: 1000px) {
  .wt-yt-container {
    width: 100vw;
  }
}
.director-line {
  border-top: 1px solid #D8FF00;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.hr-home-bottom {
  border-top: 1px solid #D8FF00;
  width: auto;
}
.hr-div {
  width: 100%;
  height: 0.01rem;
  background-color: #D8FF00;
  border-color: #D8FF00;
  border-top: 1px;
}
.hr-div-home {
  width: 100%;
  height: 0.01rem;
  background-color: #D8FF00;
  border-color: #D8FF00;
  bottom: 0;
  position: absolute;
}

/* Sections START */
.start {
  height: 100vh;
}
.home {
  height: 100vh;
}
.TYBTNL {
  height: 100vh;
}
.OS {
  height: 100vh;
}
.SYMWUN {
  height: 100vh;
}

.hr-end-section {
  border-color: #D8FF00;
  width: auto;
}

/* Sections END */

.top-white-triangle {
  width: 100%;
  height: 100px;
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
}
.right-yellow-triangle {
  width: 100px;
  height: 100vh;
  background-color:#D8FF00;
  top: 0;
  right: 0;
  position: absolute;
}
.elevate-logo {
  color: transparent;
  fill-opacity: 0;
  -webkit-text-stroke: 3px #D8FF00;
  font-size: 93px;
  font-family: 'Arial Black', Gadget, sans-serif;
  z-index: 9;
  position: relative;
  display: inline-block;
  padding-top: 100px;
}
.elevate-logo-WRAPPER  {
  margin: 1% 1% 1% 5%;
}

.elevate-header {
  font-family: Arial;
  font-weight: bold;
  color: #D8FF00;
  margin: 5%;
  font-size: 45px;
  display: block;
}
.elevate-header-WRAPPER {
  
}
.elevate-text-WRAPPER {
  margin: 5% 25% 5% 5%;
}
.elevate-text {
  font-family: Arial;
  font-weight: bold;
  color: #D8FF00;
  font-size: 35px;
  display: block;
}
.schedule-meeting {
  font-family: Arial;
  color: #000;
  font-size: 25px;
  z-index: 9;
  position: absolute;
  text-align: center;

  width: 450px;
  height: 50px;
  background-color: #D8FF00;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button-black {
  background-color: #000;
  color: #fff;
  left: 50%;
  transform: translate(-50%, 50%);
}

.schedule-meeting-WRAPPER {
  margin: 5%;
} 

@media screen and (max-width: 1050px) {
  .elevate-logo {
    font-size: 50px;
    z-index: 999;
    padding-top: 50px;
  }
  .elevate-header {
    font-size: 35px;
  }
  .top-white-triangle {
    height: 85px;
  }
  .right-yellow-triangle {
    width: 85px;
  }
  .elevate-text {
    font-size: 25px;
    margin: 10vh 0vh;
  }
  .elevate-text-WRAPPER {
    margin: 5%;
  }
  .schedule-meeting {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .top-white-triangle {
    height: 50px;
  }
  .right-yellow-triangle {
    width: 50px;
    height: 100vh;
  }
}

/* */

.square-shadow {
  width: 70%;
  height: 600px;
  background-color: #D8FF00;

  top: 45%;
  left: 50vw;
  position: relative;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px #D8FF00;
  border: 10px #000 solid;
}
.square-shadow-WRAPPER {
  padding: 1%;
}
.TYBTNL-HEADER {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 50px;
  text-align: center;
  color: transparent;
  fill-opacity: 0;
  -webkit-text-stroke: 3px #000;
}
.TYBTNL-text {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 40px;
  color: #000;
  text-align: center;
  padding: 0 25%;
}
.OS-WRAPPER {
  margin: 5%;
  position: relative;
  height: 100vh;
}
.OS-header {
  font-size: 50px;
  color: transparent;
  fill-opacity: 0;
  -webkit-text-stroke: 3px #D8FF00;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: center;
}
.OS-square {
  width: 80%;
  height: 70%;
  background-color: #D8FF00;
  position: absolute;
  margin-top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.OS-square-text {
  width: 90%;
  height: 200px;
  border: 3px #000 solid;
  left: 50%;
  top: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.OS-square-text-WRAPPER {
  margin: 2%;
}
.OS-square-text-header {
  font-family: Arial;
  font-weight: bold;
  color: #000;
  margin: 2% 5%;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 35px;
  display: block;
  text-align: center;
}
.OS-button {
  top: 55%;
}
@media only screen and (max-width: 850px) {
  .OS-WRAPPER {
    margin: 15% 0%;
  }
  .OS-header {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1111px) {
  .square-shadow {
    width: 80%;
  }
  .TYBTNL-HEADER {
    font-size: 40px;
  }
  .TYBTNL-text {
    font-size: 30px;
    padding: 0;
  }
  .square-shadow {
    box-shadow: 10px 10px #D8FF00;
    border: 5px #000 solid;
  }
  .schedule {
    height: 100vh;
  }
}

.schedule-square {
  width: 95%;
  height: 95%;
  background-color: #D8FF00;
}